{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  <h3>Contact Details</h3>
  </h3>
<p>
<b>Name:</b> John Smith</br>
<b>Phone:</b> 081 234 5678</br>
<b>Address:</b> Co. Waterford</br>
<b>Email:</b> john@smith.com</br>
</p>
</section>