{{> menu}}

<section class="ui center aligned middle aligned segment">
<h1 class="ui header">
  Welcome to Playlist 1
</h1>
<p>
This website allows you to keep track of songs in your library using playlists. It is constructed using JSON, Javascript and Handlebars.
  </p>
</section>